<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<remove name="cs" />
		<add name="cs" connectionString="Data Source=" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"  />
		<customErrors mode="Off">
		</customErrors>
		<pages validateRequest="false" enableViewStateMac="false">
		</pages>
		<httpRuntime requestValidationMode="2.0" executionTimeout="100000" maxRequestLength="214748364" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<rewrite>
			<rules>
				<rule name="rewritephp">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.aspx" />
				</rule>
				<rule name="Rewrite to farmlandinfo.aspx">
					<match url="^farmlands/([_0-9a-z-]+)" />
					<action type="Rewrite" url="farmlands/farmlandinfo.aspx?PageURL={R:1}" />
				</rule>
				</rules>
			</rewrite>
	</system.webServer>
</configuration>