<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="cs"/>
    <add name="cs" connectionString="Data Source=DESKTOP-URONU5A\SQLEXPRESS;Initial Catalog=dmDigitalfiles;User ID=sa;pwd=user;Connection Timeout=120;Connection Lifetime=120;Max Pool size=100;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5" tempDirectory="G:\PleskVhosts\megaonlinetrainings.com\tmp"/>-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="true" controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime requestValidationMode="2.0" executionTimeout="100000" maxRequestLength="214748364" enableVersionHeader="false"/>
    <compilation debug="true"/>
 
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="BOT request BLOCK" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_USER_AGENT}" pattern="^Libwww-perl$"/>
          </conditions>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied."/>
        </rule>
        <!--<rule name="Redirect to WWW" enabled="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="^www\.([.a-zA-Z0-9]+)$" />
          </conditions>
          <action type="Redirect" url="http://www.{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>-->
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false"/>
          <action type="Redirect" url="{ToLower:{URL}}"/>
        </rule>
        <rule name="rewritephp">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx"/>
        </rule>
        <rule name="Rewrite to courseinfo.aspx">
          <match url="^trainings/it-trainings/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="trainings/it-trainings/courseinfo.aspx?PageURL={R:1}"/>
        </rule>
		  <rule name="Rewrite to dcourseinfo.aspx">
			  <match url="^trainings/digital-marketing/([_0-9a-z-]+)"/>
			  <action type="Rewrite" url="trainings/digital-marketing/dcourseinfo.aspx?PageURL={R:1}"/>
		  </rule>
        <rule name="Rewrite to mcourseinfo.aspx">
          <match url="^courses/management-courses/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="courses/management-courses/mcourseinfo.aspx?PageURL={R:1}"/>
        </rule>
        <rule name="Rewrite to scourseinfo.aspx">
          <match url="^courses/soft-skills/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="courses/soft-skills/scourseinfo.aspx?PageURL={R:1}"/>
        </rule>
        <rule name="Rewrite to ncourseinfo.aspx">
          <match url="^courses/networking-courses/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="courses/networking-courses/ncourseinfo.aspx?PageURL={R:1}"/>
        </rule>
        <rule name="Rewrite to gprograminfo.aspx">
          <match url="^studyabroad/graduate/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="studyabroad/graduate/gprograminfo.aspx?PageURL={R:1}"/>
        </rule>
        <rule name="Rewrite to pprograminfo.aspx">
          <match url="^studyabroad/postgraduate/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="studyabroad/postgraduate/pprograminfo.aspx?PageURL={R:1}"/>
        </rule>
        <rule name="Rewrite to bloginfo.aspx">
          <match url="^blogs/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="blogs/bloginfo.aspx?PageURL={R:1}"/>
        </rule>
        <rule name="Rewrite to getnews.aspx">
          <match url="^news/([_0-9a-z-]+)"/>
          <action type="Rewrite" url="news/getnews.aspx?PageURL={R:1}"/>
        </rule>
      </rules>
      <outboundRules>
        <rule name="Server Signature" enabled="true">
          <match serverVariable="RESPONSE_SERVER" pattern=".*"/>
          <action type="Rewrite" value="0"/>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>